.btn-arrow {
  font-family: 'EB Garamond', sans-serif;
  font-style: italic;
  font-size: 1.25rem;
  padding: 0;
  text-decoration: none;

  svg {
    margin-left: 1rem;
    color: $success;
    transition: all 0.6s;
  }

  &:hover {
    color: $success;

    svg {
      transform: translateX(0.25rem);
    }
  }
}

.btn-arrow--dark {
  background: $dark;
  color: #fff;
  display: block;
  padding: 1rem 1rem 1rem 3rem;

  svg {
    color: #fff;
  }

  &:hover {
    svg {
      color: $success;
    }
  }
}

#menuBtn {
  outline: none !important;
  box-shadow: none !important;

  &.hamburger--vortex .hamburger-inner::before {
    display: none;
  }

  &:hover {
    .hamburger-inner,
    .hamburger-inner::before,
    .hamburger-inner::after {
      background: $success;
    }
  }
}

.menu-open #menuBtn {
  .hamburger-inner,
  .hamburger-inner::before,
  .hamburger-inner::after {
    background: #fff !important;

    @include media-breakpoint-down(lg) {
      background: #4d4d4f !important;
    }
  }
}

.no-page-header #menuBtn {
  .hamburger-inner,
  .hamburger-inner::before,
  .hamburger-inner::after {
    background: #fff;

    @include media-breakpoint-down(lg) {
      background: #4d4d4f;
    }
  }
}

.header-dark #menuBtn {
    .hamburger-inner,
    .hamburger-inner::before,
    .hamburger-inner::after {
      background: #4d4d4f;
    }
}

.btn-dark:hover {
  color: $success;
}
