/** Search form */
.search-form-holder {
  @extend .page-section;

  padding-bottom: 0;
  display: flex;
  align-items: center;

  @include media-breakpoint-up(xl) {
    min-height: 100vh;
    padding: 0;
  }
}

.search-form {
  @extend .form-inline;

  width: 100%;
}

.search-form label {
  @extend .form-group;

  font-weight: normal;
  width: calc(100% - 48px);
  margin-bottom: 0;
}

.search-form .search-field {
  @extend .form-control;

  border-left: 0;
  border-right: 0;
  border-top: 0;
  padding-left: 0;
  width: 100%;

  &::placeholder {
    color: $dark;
  }
}

.search-form .search-submit {
  @extend .btn;

  background: #fff;
  transition: all 0.6s;
  padding: 0 1.5rem 0 0;
  margin-top: 0.75rem;

  &:hover {
    color: $success;
  }
}

.grecaptcha-badge {
  visibility: hidden;
}

.wpcf7-form-control {
  @extend .form-control;

  &.wpcf7-submit {
    width: auto;
  }
}

.wpcf7-select {
  @extend .custom-select;
}

label {
  text-transform: uppercase;
  font-size: 13px;
}

.wpcf7 form .wpcf7-response-output {
  @extend .alert;

  margin: 0;
  margin-top: 2rem;
}

.wpcf7 form.invalid .wpcf7-response-output,
.wpcf7 form.unaccepted .wpcf7-response-output {
  @extend .alert-danger;
}

.wpcf7 form.sent .wpcf7-response-output {
  @extend .alert-success;
}

div.wpcf7 .ajax-loader {
  float: left;
}
