.modal-full {
  padding: 0 !important;

  .modal-dialog {
    max-width: none;
    margin: 0;
    height: 100%;

    .modal-content {
      height: 100%;
      margin: 0;
      border: 0;
    }
  }
}

#navigationModal {
  svg:first-child {
    position: absolute;
    left: calc(50% - 24px);
    top: calc(50% - 49px);
    z-index: 9999;
  }

  @include media-breakpoint-down(lg) {
    position: relative;
  }
}

.modal__close {
  position: absolute;
  right: 2rem;
  top: 2rem;
  z-index: 999;
  background: none;
  border: none;
  color: #fff;
  transition: all 0.6s;

  &:hover {
    color: $success;
  }

  @include media-breakpoint-down(xs) {
    right: 1rem;
    top: 1rem;
  }
}


@include media-breakpoint-down(lg) {
  .menu-open {
    &.modal-open {
      overflow-y: auto;
    }

    .modal-backdrop {
      display: none;
    }
  }
}


//Expertise modal
.expertise-modal {
  .modal__close {
    right: 0.5rem;
    top: 1rem;
    color: $success;

    svg {
      height: 2rem;
    }

    @include media-breakpoint-down(md) {
      color: #fff;
    }
  }
}

.expertise-modal__image {
  min-height: 500px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
