.preview {
  position: relative;
  background: $dark;
  display: block;
  text-decoration: none !important;

  &__image {
    position: relative;
    display: flex;
    align-items: center;
    min-height: 440px;
    overflow: hidden;

    img {
      position: absolute;
      left: 0;
      top: 0;
      object-fit: cover;
      width: 100%;
      height: 100%;
      transition: all 0.6s;
    }
  }

  &:hover {
    cursor: pointer;

    img {
      opacity: 0.6;
      transform: scale(1.1);
    }

    .preview__footer {
      color: $success;
    }
  }
}

.preview.preview--overlay {
  background: none;

  &:hover {
    img {
      opacity: 1;
    }
  }
}

.preview__footer {
  background: $dark;
  width: 100%;
  font-family: 'EB Garamond', sans-serif;
  font-style: italic;
  color: #fff;
  padding: 1rem 2rem;
  transition: all 0.6s;

  svg {
    margin-left: 1rem;
  }

  &:hover {
    cursor: pointer;
    color: $success;
  }
}

.preview__overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
  background: rgba($dark, 0.4);
  z-index: 999;
  color: #fff;
  padding: 2rem;
  transition: all 0.6s;

  &:hover {
    background: none;
  }
}

@include media-breakpoint-up(lg) {
  #servicesGrid {
    .preview__footer,
    .preview__overlay {
      padding-left: 4.5rem;

      h3 {
        max-width: 50%;
      }
    }
  }
}
