@font-face {
  font-family: 'Helvetica';
  src: url('../fonts/Helvetica-Light.woff2') format('woff2'),
  url('../fonts/Helvetica-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Helvetica';
  src: url('../fonts/Helvetica.woff2') format('woff2'),
  url('../fonts/Helvetica.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'EB Garamond';
  src: url('../fonts/EBGaramond-Italic.woff2') format('woff2'),
  url('../fonts/EBGaramond-Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'EB Garamond';
  src: url('../fonts/EBGaramond-Regular.woff2') format('woff2'),
  url('../fonts/EBGaramond-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.object-cover {
  object-fit: cover;
}

.page-section {
  padding: 120px 0;
}

.font-eb-garamond {
  font-family: 'EB Garamond';
}

.carousel-indicators {
  margin-bottom: 0;

  li {
    background-color: #bfbcbc;
    opacity: 1;
    transition: all 0.6s;

    &.active {
      background-color: $success;
    }
  }
}

a {
  .link-arrow {
    transition: all 0.6s;
  }

  &:hover {
    .link-arrow {
      transform: translateX(0.5rem);
    }
  }
}

.post-filter {
  .btn {
    margin: 0 1rem;
  }
}

.sliding-row {
  display: flex;
  overflow: hidden;
  position: relative;
  background: $dark;

  &__content {
    width: 60%;
    transition: all 0.6s;
    height: 800px;
    max-height: 100vh;
    z-index: 1;
    background: #fff;
    position: relative;

    @include media-breakpoint-down(md){
      width: 100%;
      height: auto;
      padding: 2rem 0;
    }
  }

  &__toggle {
    position: absolute;
    right: -24px;
    z-index: 50;
    transition: 0.3s;

    @include media-breakpoint-down(md){
      display: none;
    }

    &:hover {
      cursor: pointer;
      transform: scale(1.1);
    }
  }

  &__image {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    transition: all 0.6s;
    object-fit: cover;
    z-index: 0;
    transition: all 0.6s;

    &:hover {
      @include media-breakpoint-up(lg) {
        cursor: pointer;
        opacity: 0.6;
      }
    }

    @include media-breakpoint-down(md){
      position: relative;
      height: auto;
      left: unset;
      top: unset;
    }
  }

  @include media-breakpoint-down(md){
    flex-wrap: wrap;
  }
}

.sliding-row:nth-child(odd) {
  justify-content: flex-end;

  .sliding-row__toggle {
    position: absolute;
    right: unset;
    left: -24px;
  }
}

.sliding-row__content--collapsed {
  width: 0;

  @include media-breakpoint-down(md){
    width: 100%;
  }

  .staggered-row__content {
    opacity: 0;
    transition: none;

    @include media-breakpoint-down(md){
      opacity: 1;
    }
  }

  & + .sliding-row__image {
    opacity: 1 !important;
  }
}

a.text-white:hover {
  color: $success !important;
}

.rotate-270 {
  transform: rotate(270deg);
}

p:last-child {
  margin-bottom: 0;
}


.ekko-lightbox-nav-overlay a:hover {
  color: #fff;
}

.search-result {
  a {
    color: $dark;
    transition: all 0.6s;

    &:hover {
      color: $success;
    }
  }
}

.pagination {
  justify-content: center;

  .page-numbers {
    margin: 0 0.25rem;
  }

  a {
    color: $success;
  }
}

.single-project .staggered-row .staggered-row__content{
    max-width: 700px;
}
.rotate-180{
    transform: rotate(180deg);
}
.grid-item, .project2-sizer{
    width: 50%;
}
.grid-item--width2{
    width: 100%;
}
.subscribe_left__content{
    color: #FFF;
}
.template-subscribe, .template-enquire{
    .site-header .btn,
    .site-header .comment-form input[type="submit"],
    .comment-form .site-header input[type="submit"],
    .site-header .search-form .search-submit,
    .search-form .site-header .search-submit{
        color: #000;
    }
    .hamburger-inner, .hamburger-inner::before, .hamburger-inner::after{
        background-color: #000;
    }
}
.subscribe-form{
    max-width: 700px;
    padding: 2em;
    .note{
        font-size: 13px;
        a{
            color: #000;
            text-decoration: underline;
        }
    }
    input[type=text], input[type=email], input[type=tel]{
        height: 50px;
        width: 100%;
        padding: 0 15px;
        border: 1px solid #444;
    }
    input[type="submit"]{
        font-size: 15px;
        font-weight: normal;
        background: transparent;
        height: 40px;
        line-height: 40px;
        text-transform: uppercase;
        border: 1px solid #000;
        padding: 0 20px;
    }
}
label.lb-checkbox{
    text-transform: none;
    font-size: 15px;
}
.mc4wp-alert.mc4wp-success{
    margin-top: 15px;
    font-size: 15px;
    text-align: center;
    color: #71af44;
}
.mc4wp-alert.mc4wp-error{
    margin-top: 15px;
    font-size: 15px;
    text-align: center;
    color: #F00;
}
.staff-grid2{
    width: 100vw;
    overflow: hidden;
    &:before, &:after{
        display: table;
        content: '';
        clear: both;
    }
    .staff-item, .staff-item-sizer{
        float: left;
        width: 33.33%;
        transition: all 0.1s;
        background: #000;
        .preview{
            position: relative;
            .preview__image{
                cursor: default;
            }
            .expanded__close{
                position: absolute;
                padding: 0;
                z-index: 99;
                line-height: 0;
                top: 45px;
                right: 45px;
                background: transparent;
                border: 0 !important;
                color: #FFF;
                width: 45px;
                display: none;
                &:focus{
                    outline: none;
                    box-shadow: none;
                }
            }
        }
        .staff-info{
            display: none;
        }
        .preview__footer{
            transition: all 0.2s;
        }
        .preview__image{
            transition: all 0.2s;
        }
        &.expanded{
            width: 66.66%;
            height: 1004px;
            .preview{
                .expanded__close{
                    display: block;
                }
            }
            .staff-info{
                display: block;
                overflow-x: hidden;
                p{
                    font-size: 20px;
                    font-family: "Helvetica", sans-serif;
                }
                h3{
                    padding-top: 30px;
                }
                .content-right{
                    padding-top: 34px;
                    height: 368px;
                    overflow-y: auto;
                    overflow-x: hidden;
                }
            }
            .staff-name{
                display: none;
            }
            .preview__footer{
                background: #FFF;
                color: #000;
                font-style: normal;
            }
            .preview__image{
                min-height: 604px;
            }
        }
        @include media-breakpoint-down(lg) {
            width: 50%;
            &.expanded{
                width: 100%;
            }
        }
        @include media-breakpoint-down(sm) {
            width: 100%;
            &.expanded{
                width: 100%;
                height: auto;
                .preview__image{
                    min-height: 404px;
                }
                .staff-info{
                    p{
                        font-size: 15px;
                    }
                    h3{
                        padding-top: 0;
                    }
                    .content-right{
                        padding-top: 0;
                        height: auto;
                        overflow-y: hidden;
                    }
                }
            }
        }
        @include media-breakpoint-down(xs) {
            .preview__image{
                min-height: 304px;
            }
            &.expanded{
                .preview__image{
                    min-height: 304px;
                }
            }
        }
    }
}

.services-Grid2{
    .service-item-sizer, .service-item{
        width: 100%;
    }
    .service-item, .service-item-sizer{
        display: flex;
        flex-direction: column;
        position: absolute;
        width: 100%;
        .preview{
            position: relative;
            transition: all 0.2s;
            width: 100%;
        }
        .service-info{
            display: none;
            position: relative;
            .expanded__close{
                position: absolute;
                padding: 0;
                z-index: 99;
                line-height: 0;
                top: 45px;
                right: 45px;
                background: transparent;
                border: 0 !important;
                color: #71af44;
                width: 45px;
                &:focus{
                    outline: none;
                    box-shadow: none;
                }
            }
        }
        .preview__image{
            transition: all 0.2s;
        }
        &.expanded{
            // width: 66.66%;
            // height: 1004px;
            flex-direction: row;
            z-index: 1000;
            .preview{
                width: 65%;
                .preview__overlay{
                    display: none;
                }
            }
            .service-info{
                display: block;
                overflow-x: hidden;
                width: 35%;
                display: flex;
                align-items: center;
                background: #FFF;
                .service-content{
                    max-height: 100%;
                    overflow-y: auto;
                    overflow-x: hidden;
                    padding: 40px 16%;
                }
                p{
                    font-size: 20px;
                    font-family: "Helvetica", sans-serif;
                }
                h3{
                    font-size: 40px;
                    text-transform: none;
                    margin-bottom: 30px;
                }
            }
            .preview__footer{
                display: none;
            }
            .preview__image{
                min-height: 1004px;
            }
        }
        @media(max-width: 1400px) {
            &.expanded{
                .preview{
                    width: 50%;
                }
                .service-info{
                    width: 50%;
                }
            }
        }
        @include media-breakpoint-down(lg) {
            &.expanded{
                .service-info h3{
                    font-size: 30px;
                }
                .service-info .service-content{
                    padding: 30px 8%;
                }
            }
        }
        @include media-breakpoint-down(md) {
            position: relative;
        }
        @include media-breakpoint-down(sm) {
            width: 100%;
            &.expanded{
                width: 100%;
                height: auto;
                flex-direction: column;
                .preview{
                    width: 100%;
                    .preview__overlay{
                        display: flex;
                    }
                }
                .preview__image{
                    min-height: 404px;
                }
                .service-info{
                    width: 100%;
                    p{
                        font-size: 15px;
                    }
                    h3{
                        font-size: 30px;
                        margin-bottom: 20px;
                    }
                    .content-right{
                        padding-top: 0;
                        height: auto;
                        overflow-y: hidden;
                        padding: 30px 20px;
                    }
                    .expanded__close{
                        top: 10px;
                        right: 10px;
                        width: 25px;
                        height: 25px;
                        svg{
                            width: 25px;
                            height: 25px;
                        }
                    }
                }
            }
        }
        @include media-breakpoint-down(xs) {
            .preview__image{
                min-height: 304px;
            }
            &.expanded{
                .preview__image{
                    min-height: 304px;
                }
            }
        }
    }
}

@include media-breakpoint-down(lg) {
    .grid-item, .project2-sizer{
        width: 100%;
    }
    .subscribe_left__content{
        margin-top: 130px;
    }
}
@include media-breakpoint-up(lg){
    .single-post .noteven .col-lg-6{
        order: 2;
    }
    .single-post .noteven .align-items-center{
        order: 1;
    }
}

.btn-arrow.arrow-left{
    position: relative;
    margin-right: 80px;
    &:before{
        content: '';
        right: -40px;
        position: absolute;
        top: 0;
        width: 2px;
        height: 33px;
        transform: rotate(-30deg);
        background: #000;
    }
    svg{
        margin-left: 0;
        margin-right: 1em;
    }
    &:hover svg{
        transform: translateX(-0.25rem);
    }
}
.project-arrow{
    margin-top: 80px;
}

.blog-arrow{
    position: absolute;
    left: 50%;
    bottom: -50px;
    z-index: 99;
    transform: translateX(-50%) rotate(90deg);
    .sliding-row__toggle{
        position: relative;
        top: 0;
        left: 0;
    }
}
.embed-responsive.banner-blog{
    overflow: visible;
}

.object-cover {
  object-fit: cover;
 }

.subscribe-form{
    h2{
        font-size: 2rem;
        text-transform: uppercase;
    }
    .indicates-required{
        font-size: 15px;
        margin-bottom: 1rem !important;
    }
    .mc-field-group{
        padding-top: 0 !important;
    }
    input[type="submit"]{
        margin-top: 1rem;
        float: right;
    }

}

.single-project .sliding-row{
    justify-content: flex-end;
    &:nth-child(odd){
        justify-content: flex-start;
        .sliding-row__toggle{
            right: -24px;
            left: auto;
        }
    }
    .sliding-row__toggle{
        left: -24px;
    }
    .sliding-row__content{
        width: 40%;
        &.sliding-row__content--collapsed{
            width: 0;
        }
    }
    @include media-breakpoint-down(md){
        .sliding-row__content{
            width: 100%;
        }
    }
}
.enquire-form{
    max-width: 700px;
    padding: 2em;
    .form-group{
        margin-bottom: 15px;
    }
    label{
        margin-bottom: 5px;
    }
}
.enquire-right{
    padding-top: 70px;
}
.btn.btn-outline-green{
    border: 1px solid #71af44;
    color: #71af44;
    &:hover{
        color: #FFF;
        background: #71af44
    }
}
.wpcf7-not-valid-tip{
    font-size: 16px;
}
@media(min-width: 992px){
    #staffGrid>.col-lg-4{
        height: 502px;
    }
    #servicesGrid2 > .col-lg-4{
        height: 502px;
    }
}

#staffGrid .col-lg-4:nth-child(3n){
    .staff-item{
        right: 0;
        left: auto;
    }
}
#servicesGrid2 .col-lg-4:nth-child(3n){
    .service-item{
        right: 0;
        left: auto;
    }
}

.bottom0{
    bottom: 0;
}

.staff-item{
    width: 100%;
    position: absolute !important;
    &.preview{
        transition: all 0.2s;
        background: #000;
        .preview__image{
            cursor: pointer;
        }
        .expanded__close{
            position: absolute;
            padding: 0;
            z-index: 99;
            line-height: 0;
            top: 45px;
            right: 45px;
            background: transparent;
            border: 0 !important;
            color: #FFF;
            width: 45px;
            display: none;
            &:focus{
                outline: none;
                box-shadow: none;
            }
        }
    }
    .staff-info{
        display: none;
    }
    .preview__footer{
        transition: all 0.2s;
    }
    .preview__image{
        transition: all 0.2s;
    }
    &.expanded{
        z-index: 1;
        cursor: default;
        &:hover{
            .preview__footer{
                color: #000;
            }
        }
        &.preview{
            .expanded__close{
                display: block;
            }
        }
        .staff-info{
            display: block;
            overflow-x: hidden;

            p{
                font-size: 20px;
                font-family: "Helvetica", sans-serif;
            }
            h3{
                padding-top: 30px;
            }
            .content-right{
                padding-top: 34px;
                height: 368px;
                overflow-y: auto;
                overflow-x: hidden;
            }
        }
        .staff-name{
            display: none;
        }
        .preview__footer{
            background: #FFF;
            color: #000;
            font-style: normal;
        }
        .preview__image{
            min-height: 604px;
        }
    }
    @include media-breakpoint-down(lg) {
        width: 50%;
        &.expanded{
            width: 100%;
        }
    }
    @media(max-width: 991px){
        position: relative !important;
    }
    @include media-breakpoint-down(sm) {
        width: 100%;
        &.expanded{
            width: 100%;
            height: auto;
            .preview__image{
                min-height: 404px;
            }
            .staff-info{
                p{
                    font-size: 15px;
                }
                h3{
                    padding-top: 0;
                }
                .content-right{
                    padding-top: 0;
                    height: auto;
                    overflow-y: hidden;
                }
            }
        }
    }
    @include media-breakpoint-down(xs) {
        .preview__image{
            min-height: 304px;
        }
        &.expanded{
            .preview__image{
                min-height: 304px;
            }
        }
    }
}


#projectGrid, .related-projects{
    .preview__footer{
        font-size: 16px;
        .project-name{
            display: inline-flex;
            max-width: calc(100% - 2rem - 57px);
            white-space: nowrap;
            overflow: hidden;
        }
    }
}

@include media-breakpoint-down(lg){
    .enquire-right{
        padding-top: 0;
    }

}
@include media-breakpoint-down(md){
    #staffGrid{
        .staff-item{
            width: 100%;
        }
    }
    .project-arrow{
        margin-top: 40px;
        .btn-arrow{
            svg{
                margin-left: 5px;
            }
        }
        .btn-arrow.arrow-left{
            margin-right: 40px;
            &:before{
                right: -20px;
            }
            svg{
                margin-right: 5px;
            }
        }
    }
    .subscribe-form{
        padding: 1em;
    }
    .single-project .sliding-row .sliding-row__content{
        width: 100% !important;
    }
}
@media(min-width: 768px){
    #navigationModal #primaryNav{
        margin-top: 50px;
    }
    #navigationModal #primaryNav .nav-link{
        font-size: 6.250vh;
    }
}
