/** Import Bootstrap functions */
@import "~bootstrap/scss/functions";

$dark: #000;
$success: #71af44;
$secondary: #707070;

$theme-colors: (
  dark: $dark,
  success: $success
);

$container-max-widths: (
  xl: 1540px
);

$body-color: $dark;

/** Bootstrap navbar fix (https://git.io/fADqW) */
$navbar-dark-toggler-icon-bg: none;
$navbar-light-toggler-icon-bg: none;

$enable-rounded: false;

$headings-font-family: 'Helvetica', sans-serif;
$headings-font-weight: 300;
$font-family-base: 'Helvetica', sans-serif;
$font-weight-base: 300;
$font-size-base: 1.25rem;
$h1-font-size: 70px;
$h2-font-size: 60px;
$h3-font-size: 40px;
$enable-responsive-font-sizes: true;
$paragraph-margin-bottom: 1.5rem;
$headings-margin-bottom: 1rem;


$form-group-margin-bottom: 1.25rem;
$input-border-color: $dark;

$btn-padding-x-lg: 2rem;
$btn-padding-y-lg: 1rem;

$carousel-indicator-active-bg: $success;
$carousel-indicator-spacer: 0;
$carousel-indicator-height: 7px;
$carousel-indicator-width: 42px;

$modal-backdrop-opacity: 0.8;

  /** Hamburger icon */
$hamburger-padding-x: 0;
$hamburger-padding-y: 0;
$hamburger-layer-width: 59px;
$hamburger-layer-height: 2px;
$hamburger-layer-spacing: 12px;
$hamburger-layer-color: #fff;
$hamburger-types: (vortex);
$hamburger-hover-opacity : 1;
