.site-footer {
  a {
    color: #fff;
    text-decoration: none;
    transition: all 0.6s;

    &:hover {
      color: $success;
    }
  }
}

.footer-nav {
  padding-top: 3rem;
  font-size: 60px;
  text-transform: uppercase;
  display: inline-block;

  li {
    margin-bottom: 2rem;
  }

  a {
    position: relative;

    &::after {
      content: "";
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 4px 0 4px 8px;
      border-color: transparent transparent transparent $success;
      display: inline-block;
      position: absolute;
      top: 1.75rem;
      right: -2rem;
    }
  }
}

.footer__social {
  margin-bottom: 100px;
  font-size: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@include media-breakpoint-down(md) {
  .footer-nav {
    font-size: 40px;

    a::after {
      top: 0.75rem;
    }
  }
}

@include media-breakpoint-down(xs) {
  .footer-nav {
    font-size: 2rem;

    a::after {
      display: none;
    }
  }

  .footer__social {
    margin-bottom: 4rem;
  }
}
