.site-header {
  position: absolute;
  width: 100%;
  z-index: 9999;
  padding-top: 3rem;

  .btn {
    color: #fff;

    &:hover {
      color: $success;
    }
  }

  &__logo {
    color: #fff;
    transition: all 0.6s;

    &:hover {
      color: #fff;
    }

    svg {
      max-width: 246px;
    }
  }
}

.site-header__logo--dark {
  color: #4d4d4f;

  &:hover {
    color: #4d4d4f;
  }
}

.header-dark:not(.menu-open) .site-header {
  .btn {
    color: #4d4d4f;

    &:hover {
      color: $success;
    }
  }
}


@include media-breakpoint-down(lg) {
  .menu-open .site-header,
  .no-page-header .site-header,
  .header-dark .site-header {
    position: relative;
    padding-bottom: 1rem;

    .btn {
      color: #4d4d4f;

      &:hover {
        color: $success;
      }
    }
  }
}

.page-header {
  height: 100vh;
  position: relative;

  h1,
  .h1 {
    position: relative;
    z-index: 100;
    text-transform: uppercase;
    font-size: 70px;
    color: #fff;
  }

  &::before {
    display: none;
  }

  &::after {
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    content: '';
    background: radial-gradient(circle, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 90%, rgba(0,0,0,1) 100%);
    position: absolute;
    z-index: 50;
  }
}

.template-contact .page-header {
  height: 75vh;
}

.page-header--arrow-down {
  position: relative;
  width: 100%;
  text-align: center;
  z-index: 999;

  svg {
    position: absolute;
    top: -12rem;
  }
}

@include media-breakpoint-down(xs) {
  .page-header {
    h1 {
      font-size: 3rem;
    }
  }
}
