#primaryNav {
  .nav-link {
    color: $dark;
    font-size: 70px;
    transition: all 0.6s;

    @include media-breakpoint-down(lg) {
      font-size: 48px;
    }

    &:hover,
    &.active {
      color: $success;
    }
  }
}

#secondaryNav {
  .nav-link {
    color: #fff;
    font-size: 40px;
    transition: all 0.6s;

    &:hover,
    &.active {
      color: $success;
    }
  }
}

@include media-breakpoint-down(sm){
    #primaryNav .nav-link{
        font-size: 20px;
    }
    #secondaryNav .nav-link{
        font-size: 20px;
    }
    .hamburger-inner, .hamburger-inner::before, .hamburger-inner::after{
        width: 45px;
    }
    .site-header{
        padding-top: 2rem;
    }
}
