.page-template-template-process {
  main.main {
    background-color: $dark;
    color: #fff;
  }

  .recent-projects {

    @include media-breakpoint-down(md) {
      padding-top: 4.5rem;
    }
  }

  @include media-breakpoint-up(lg) {
    .page-header::after {
      background: radial-gradient(transparent 30%, $dark 50%);
    }
  }
}

.front-page-data .recent-projects {
  @include media-breakpoint-down(md) {
    padding-top: 4.5rem;
  }
}

.process-arrow-lg{
    overflow: hidden;
    svg{
        transform: translate(272px, -272px);
    }
}
.process-arrow-lg.rotate-270{
    transform: none;
    svg{
        transform: translate(-272px, -272px) rotate(267deg);
    }
}
