.ctis-load-more-container {
  @extend .col-12;
}

.infinite-loader {
  @extend .col-12;
}

#infinite-handle {
  padding-top: 3rem;

  span button {
    font-family: 'eb-garamond' !important;
    font-style: italic !important;
    font-size: 1.25rem !important;
    text-decoration: underline;

    &:hover {
      color: $success;
    }
  }

  &::after {
    content: '';
    display: block;
    width: 100%;
    max-width: 15px;
    height: 56px;
    margin: auto;
    background: url("../images/down-arrow.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
  }
}

.ctis-loader-elements {
  font-family: 'eb-garamond';
  font-style: italic;
  font-size: 1.25rem;
}

.ctis-finished-notice {
  padding-top: 3rem;
}

