.testimonials {
  &__quote-icon {
    font-size: 70px;
    line-height: 70px;
  }

  &__heading {
    letter-spacing: 3px;
  }

  &__project {
    display: flex;
    justify-content: center;
  }

  &__project-link {
    display: block;
    padding-top: 4rem;
    margin-bottom: 0;

    &:before {
      content: "";
      height: 30px;
      width: 1px;
      background: $success;
      display: inline-block;
      transform: rotate(45deg);
      position: relative;
      top: -2rem;
      left: -0.5rem;
    }
  }
}


.staggered-row {
  &__count {
    color: $success;
    font-size: 150px;
    padding-left: 1rem;
    line-height: 1.12;

    @include media-breakpoint-down(xs) {
      font-size: 5rem;
      margin-bottom: -2rem;
    }
  }

  &__content {
    max-width: 500px;
    padding: 2rem;
    transition: opacity 0.6s;
    transition-delay: 0.6s;

    ul {
      padding-left: 1rem;

      li {
        padding-left: 2rem;
      }
    }
  }
}

.staggered-row--dark {
  background-color: $dark;
  color: #fff;

  .btn-arrow {
    color: #fff;

    &:hover {
      color: $success;
    }
  }
}


.recent-projects {
  .recent-projects__content {
    position: relative;
    z-index: 10;
    max-width: 519px;
    color: #fff;
  }

  .recent-projects__bg {
    img {
      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: cover;
      left: 0;
      top: 0;
    }

    &::after {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background: radial-gradient(circle, rgba(0, 0, 0, 0) 0%, black 90%, black 100%);
      content: "";
      display: block;
      z-index: 5;
    }
  }

  @include media-breakpoint-down(md) {
    .recent-projects__content {
      color: $dark;
    }
  }
}


.showcase__item {
  background: $dark;
  position: relative;

  .embed-responsive-item {
    transition: all 0.6s;
  }

  &:hover {
    .embed-responsive-item {
      opacity: 0.6;
    }
  }
}

.showcase__project {
  position: absolute;
  bottom: 2rem;
  left: 2rem;
  font-family: "EB Garamond", sans-serif;
  font-style: italic;
  z-index: 999;
}
