.showroom {
  min-height: 100vh;
  &.subscribe{
      height: 100vh;
  }

  > .row.h-100{
      min-height: 100vh;
  }

  & > svg:first-child {
    position: absolute;
    left: calc(50% - 24px);
    top: calc(50% - 49px);
    z-index: 9999;
  }

  &__content {
    max-width: 598px;
    padding: 3rem 1rem;
    padding-top: 9rem;
  }
}

#panolensContainer {
  min-height: 600px;
    position: relative;
  &:hover {
    cursor: pointer;
  }
  #pano-button-left, #pano-button-right{
    position: absolute;
    z-index: 9;
    left: 100px;
    top: 50%;
    transform: translateY(-50%);
    background: transparent;
    box-shadow: none;
    outline: none;
    border: none;
  }
  #pano-button-right{
      left: auto;
      right: 100px;
  }
}

@include media-breakpoint-down(lg) {
  .showroom {
    height: auto;

    & > svg:first-child {
      display: none;
    }

    &__content {
      padding-top: 2rem;
    }
  }
}

@include media-breakpoint-down(xs) {
    #panolensContainer {
      #pano-button-left, #pano-button-right{
        left: 15px;
      }
      #pano-button-right{
          right: 15px;
          left: auto;
      }
    }
}
